<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="LogLayout"
			  value="${date:format=yyyy-MM-ddTHH\:mm\:ss zzzz} | ${level} | ${message}${when:when=length('${exception}')>0:inner= | EXCEPTION (${stacktrace:topFrames=10}) ${exception:format=ToString}}" />

  <targets async="true">

    <target name="AppLog" xsi:type="File" layout="${LogLayout}"
				fileName="${basedir}/${processname}.log"
        archiveFileName="${basedir}/logs/${processname}_${longdate}.log"
				archiveAboveSize="2048576"
				archiveNumbering="Rolling"
				archiveDateFormat="yyyy-MM-dd-HH-mm-ss"
				keepFileOpen="true"
				maxArchiveFiles="60"
				encoding="utf-8" />

    <target layout="${LogLayout}" name="console" xsi:type="ColoredConsole" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="AppLog" />
  </rules>
</nlog>
